
consumer_key = "c9HYUACUPZGzXc4q8qXvmfLyM"
consumer_secret = "P2bSs6YZIQUoCM8mvU1aSDU8JBB0oTYONXHTJYiZO7Gn6UeRlv"
access_token = ""
access_token_secret = ""
input_device_name = "Canon Canon USB Device"
1_108="にゃーん"
1_103="つらい"
1_42="IQが1"
1_48="ぽ"
